{% extends 'base.html' %} {% block body_block %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-1"></div>
    <div class="col-lg-6 col-md-6 col-sm-10 border pt-3 pb-3 ps-4 pe-4">
        <h2 class="text-head text-center text-dark text-uppercase">add post</h2>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input
          type="submit"
          value="Add"
          class="btn btn-primary d-block mx-auto"/>
      </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-1"></div>
  </div>
</div>
{% endblock %}
